.list-group-item-reminderList {
    background-image: linear-gradient(to right, #378bf8  , #197af8);
    color: white ;
}

// buttons
.btn-reminder {
    background-color: #79b3ff !important;
    color: white !important;
    padding: 10px 10px !important;
    margin-right: 15px;
}

.btn-reminder-complete {
    background-color: #79ff96 !important;
    color: #49d167 !important;
    padding: 10px 10px !important;
    margin-right: 15px;
}